* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* BUTTONS AND UPISNI */
.btn-add {
    width: 80px;
    line-height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    background-color:rgb(190, 97, 10);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.btn-delete {
    width: 80px;
    line-height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    background-color:rgb(190, 97, 10);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.btn-pass{
    background: #149e20;
    border-radius: 5px;
    color: white;
    width: 100px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.btn-lost{
    background: #000000;
    border-radius: 5px;
    color: white;
    width: 150px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.btn-return{
    background: #4E9CAF;
    border-radius: 5px;
    color: white;
    width: 110px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

.upisnilist{
    padding: 20px;
}


.left-section{
    width: 50%;
    float: left;

}

.left-section a{
    text-transform: uppercase;
}
.right-section{
    width: 50%;
    float: right;

}

.right-section a{
    text-transform: uppercase;
    color: rgb(238, 238, 235);
}

/* BUTTONS AND UPISNI */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #35424a;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: rgb(238, 238, 235);
}

p {
    color: rgb(238, 238, 235);
}

a {
    color: rgb(190, 97, 10);
}

/* Header i navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgb(190, 97, 10);
}

header a {
    color: rgb(238, 238, 235);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    color: rgb(238, 238, 235);
}



.lg-nav{
    display:flex;
    justify-content: end;
    text-transform: uppercase;
    font-weight: 600;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

li a:hover {
    color: rgb(190, 97, 10);
    transition: .5s;
}


/* ADMIN HOME BOXOVI */

#admin-panel h2{
    text-align: center;
    color:rgb(238, 238, 235);
    margin-top: 20px;
}

.box-podrucje{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.zasebni-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color:rgba(192, 192, 182, 0.452);
    text-align: center;
    margin:50px;
    padding: 20px;
}

/* rgb(192, 192, 182); stara boja boxova */ 

.img-podrucje{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border:4px solid rgb(219, 149, 84);
    border-radius: 50%;
    margin: 15px;
    padding: 50px;
    background-size: cover;
    background-position: center center;
}

/* rgb(216, 152, 189); stara boja za border */

.zasebni-box:nth-child(1) .img-podrucje{
    background-image: url(/static/media/subjects.png);
}

.zasebni-box:nth-child(2) .img-podrucje{
    background-image: url(/static/media/users.png);
}

.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.img-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.zasebni-box:hover{
    background:rgb(204, 204, 149);
    transition: .4s;
}

/* Footer */

footer {
    margin-top: auto;
    border-top: 2px solid rgb(190, 97, 10);
    flex-shrink: 0;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 34px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(238, 238, 235);
}

/* ispis na home pageu */
.main-section{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

/* CSS ZA FORME */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 192px);
}

.form-container {
    width: 300px;
    background-color: #645e5e7a;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border:2px solid rgb(190, 97, 10);
}

form {
    display: flex;
    flex-direction: column;
}

input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=select]{
    padding: 10px;
    margin-bottom: 10px;
}
.decision {
    display: flex;
    gap: 10px;
    justify-content: center;
}

input[type="submit"] {
    width: 120px;
    padding: 10px;
    background-color:rgb(190, 97, 10);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color:rgb(165, 86, 12);
}


/* lines for lists */
.line-divider {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.a-list-text{
    text-transform: uppercase;
    padding-left:10px;
}
  