{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<div class="main-section">
    {% if request.user.role|lower == 'admin' %}

    <h2>Add professor as holder of subject: {{predmet.name}}</h2>

    {% if data.profesori.count == 0 %}

    <h4>Empty</h4>

    {% elif selected_professor %}

    <p style="color:rgb(219, 149, 84); text-transform:uppercase; font-weight:600">Professor {{selected_professor.first_name}} {{selected_professor.last_name}} - {{selected_professor}} has been selected!</p>
    {% else %}
    <p style="color:rgb(219, 149, 84); text-transform:uppercase; font-weight:600">Professor has not been selected!</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <p>Select professor:
            <select name="profesor">
                <option>----</option>
                {% for profesor in profesori %}
                    {% if profesor.id != selected_professor.id %}
                        <option value="{{ profesor.id }}">{{ profesor }}</option>
                    {% endif %}
                {% endfor %}
            </select>                               
        <input type="hidden" name="profz" value="{{ profesor}}"/>
        <input type="submit" value="Add professor"/>
        </p>

    </form>
</div>
{% csrf_token %}
{% else %}
    
    <div class="main-section">
        <p>You have no rights to access this page.</p>
    </div>

{% endif %}
{% endblock %}


