{% extends 'base.html' %} {% block content %}
{% if request.user.role|lower == 'admin' %}
<div class="main-section">
    <form method="POST">
    <p>Are you sure that you want to delete the user: {{user.first_name}} {{user.last_name}} {{user}}</p>
    {% csrf_token %}
    <div class="decision">
        <input type="submit" name="yes" value="yes" />
        <input type="submit" name="no" value="no" />
    </div>
    </form>
</div>

{% else %}

    <div class="main-section">
        <p>You have no rights to access this page.</p>
    </div>

{% endif %}
{% endblock %}
