{% extends 'base.html' %}
{% block content %}
{% if request.user.role|lower == 'admin' %}
<div class="center">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <h2>Edit Subject</h2>
            {% for field in form %}
                <p>
                    {{field.label_tag}}<br>
                    {{field}}

                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            {% csrf_token %}
            <input class="mysubmit" type="submit" value="Edit subject">
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</div>

{% else %}

    <div class="main-section">
        <p>You have no rights to access this page.</p>
    </div>

{% endif %}
{% endblock %}
