{% extends 'base.html' %} {% block content %}
{% csrf_token %}
<div class="main-section">
<h2>Welcome {{ request.user.username|capfirst }}</h2>
{% if request.user.role|lower == 'admin' %}
<section id="admin-panel">
    <div class="box-podrucje">
        <div class="zasebni-box">
            <a href="{% url 'addsubject' %}" target="_blank"><div class="img-podrucje"></div></a>
            <div class="img-text">
                <span class ="header-text"><strong>ADD SUBJECT</strong></span>
                <p>Click on the icon above to add subject.
                </p>
            </div>
        </div>
        <div class="zasebni-box">
            <a href="{% url 'adduser' %}" target="_blank"><div class="img-podrucje"></div></a>
            <div class="img-text">
                <span class ="header-text"><strong>ADD USER</strong></span>
                <p>Click on the icon above to add user.
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}
</div>

{% csrf_token %}

{% endblock %}